body {
margin: 0 auto;
}

head {

}

h2 {
text-align: center;
padding: 30px;
}

.kirbo {
border: 3px solid black;
margin-left: auto;
margin-right: auto;
display: block;
}

h1.kirby {
text-align: center;
font-size: 30px;
font-weight: bold;
position: relative;
}

.aboutme {
display: inline-block;
}

.aboutme1 {
text-align: center;
position: relative;
top: 40px;
}
